# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Streamlit cache
.streamlit/
logs/

# VSCode settings
.vscode/

# macOS & Linux junk
.DS_Store
*.swp
